.etiquetainformativa
{
	border-radius: 10px 10 px;
	color: #5F95D5;
	font-size:14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.areatexto
{  
  background-color: RGB(41, 140, 173);
  color: white;
  font-family: #0000;
}

.combobox{
	border-radius: 1px;
	border-color: rgba(53,106,160,1.1);
	color: #5F95D5;		
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#contenedor {
display: table;
width: 100%;
}
#fila {
display: table-row;
width: 100%;
}
#columna1
{
	display: table-cell;
	color: #000;
	width: 50%;
	font-weight: bold;
}
#columna2{	
	display: table-cell;
	color: #000;
	width: 50%;
	font-weight: bold;
}

.pendientes{
	border-radius: 1px;
	border-color: rgba(53,106,160,1.1);
	color: red;
	font-size: 28px;
	font-weight: bold;
	height: 40px;
	text-align: center;
	width: 300px;
}

.revisados{
	border-radius: 1px;
	border-color: rgba(53,106,160,1.1);
	color: green;
	font-size: 28px;
	font-weight: bold;
	height: 40px;
	text-align: center;
	width: 300px;
}

.grupo
{
	color: White;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid black;
	text-align: left;
	font-family: Lucida Sans Unicode;
}

.grupo legend
{
	text-align: left;
	margin-left:.2em;
	background-color: #ffffff;
	border: 2px solid #547e9e;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0px 0px 1px #000000;
	-webkit-box-shadow: 0px 0px 1px #000000;
	box-shadow: 0px 0px 1px #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6bb4ff', endColorstr = '#2682ff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6bb4ff', endColorstr = '#2682ff')";
	background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

.grupoLibre{
	color: #5a9ecf;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid black;	
	font-family: Arial, Helvetica, sans-serif;
}

.grupoLibre legend
{
	text-align: left;
	margin-left:.2em;
	background-color: #ffffff;
	border: 1px solid #5a9ecf;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0px 0px 1px #000000;
	-webkit-box-shadow: 0px 0px 1px #000000;
	box-shadow: 0px 0px 1px #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6bb4ff', endColorstr = '#2682ff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6bb4ff', endColorstr = '#2682ff')";
	background: #5a9ecf;moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: #5a9ecf;-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: #5a9ecf;-webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

.cajatexto
{
	border-radius: 1px;
	border-color: rgba(53,106,160,1.1);
	color: #5F95D5;	
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

.cajatexto:hover{
	box-shadow: 0px 0px 5px rgba(53,106,160,0.9);
}

.cajatexto:focus{
	box-shadow: 0px 0px 6px #1838B2;
}

.textInputs{
	font-size: 1em !important;
	text-align: center;
	color: #76B1FB;
	border-radius: 2px;
	border-style: solid;
	border-color: rgba(53,106,160,1.1);
	padding: 2px 5px;
	margin: 2px 0px;
}

.textInputs:hover{
	box-shadow: 0px 0px 5px rgba(53,106,160,0.9);
}

.textInputs:focus{
	box-shadow: 0px 0px 6px #1838B2;
}

.exito {
    color: #4F8A10;
    background-color: #DFF2BF;    
    font-family: Arial, Helvetica, sans-serif;
}
.Espera{
	display: block;
	width: 50px;
	height: 50px;
	float: left;	
	background: url('../../Imagenes/loading.gif') no-repeat;
	margin-bottom: 10px;
	margin-left: 10px;
}
.subtitulo{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: left;
}
#bloquea{
	align:center;
	padding: 8px;
	background: white;
	border-radius: 12px; 
}
#fldstFoliosDisponibles{
	text-align: center;
}

/* Folio 1514 - Corresponde a los Switches nuevos que se agregan al apartado del Correo */
.switchBtn {
    position: relative;
	display: inline-block;
	margin-top: 9px;
    width: 40px;
    height: 17px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #2be241;
    padding-right: 30px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
    left: -20px;
}

.leyendaDesc {
	font-family: Lucida Sans Unicode;
    position: absolute;
	display: inline-block;
	color: Black;
    width: 15%;
	height: 17px;
	font-size: 13px;
    right: 0px;
}

.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}
/*-------------------------------------------------------------------------------------*/