.body
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 9pt;
}


.Botones3
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: White;
	height: 22px;
	background-color: #3C8DCE;
	text-align: center;
	font-weight: bold;
}


.Botones2
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 9pt;
	
}

.Botones
{
       font-size:11px;
       font-family:Lucida Sans Unicode;
       font-weight:bold;
       color:white;
       background:CadetBlue;
       border:10px;
       border-bottom-color:Black;
       cursor:hand;
       margin: 3px;
}

.Botones:hover
{
	box-shadow: 0px 0px 5px gray;
	-moz-box-shadow: 0px 0px 5px gray;
}

.Etiqueta
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	/*color: Highlight;*/
	color:Black;
	height: 17px;
	font-size: 13px;
}

.EtiquetaListado
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	height: 17px;
	font-size: 11px;
}
.Contador
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Highlight;
	height: 14px;
	font-size: 10px;
	border: none;
}

.RadioButon
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 17px;
	font-size: 9px;
}

.CajaTexto
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: High;
	font-size: 13px;
	/*border-style: solid;*/
	border-width: 1;
	background-color:Azure;
}

.CajaTextoEditable
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	font-size: 9px;
	border-style: solid;
	border-width: 1;
}

.CajaTextoEditable2
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	font-size: 9px;	
	border-width: 1;
}

.CajaTextoTitulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: #2169AF;
	font-size: 9pt;
	border-style:none;
	border-width: 0;
	background-color:Transparent;
	text-align:right;
	font-weight:bold;
}
.Seccion
{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
}

.SeccionGrid
{
	font-weight: bold;
	font-size: 11px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 18px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
}


.ComboBox
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: High;
	font-size: 13px;
	background-color:Azure;
	float:none;
}


.ComboBoxEditable
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	font-size: 9px;
	background-color:White;
}



.Links
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #173b93;
	font-size: 10pt;
}

.Links2
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}




.Links a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:active
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}

.Links a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:link
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}
 
.Links a:visited
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 8pt;
}

.Links2 a:visited
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:visited
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12pt;
}

.Links a:hover 
{
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	color: #ffef82;
	font-size: 10pt;
	cursor:hand;
}

.Links2 a:hover 
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #003399;
	font-size: 8pt;
}

.Links3 a:hover 
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14pt;
}

.Select
{ 
	font-family: Lucida Sans Unicode; 
	font-size: 8px; 
	color:Blue; 
	background-color:White;
} 

.TDGrid
{
	text-decoration:none;
	background-color:White;
	font-size: 11px; 
}


.MensajeRojo
{
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	text-decoration: none;
	color: White;
	height: 20px;
	font-size: 14px;
	background-color:#C00000;	
	width:100%;
}

.MensajeVerde
{
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	text-decoration: none;
	color: White;
	height: 20px;
	font-size: 14px;
	background-color:ForestGreen;	
	width:100%;	
}


.MensajeAmarillo
{
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	text-decoration: none;
	color: Black;
	height: 20px;
	font-size: 14px;
	background-color:Yellow;
	width:100%;	
}

.MensajeAmarillo2
{
	font-family: Lucida Sans Unicode;
	font-weight: bold;
	text-decoration: none;
	color: Black;
	height: 20px;
	font-size: 14px;
	background-color:Yellow;
	width:100%;	
	vertical-align:top;
	
}


.MensajeDefault
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 20px;
	font-size: 14px;
	background-color:White;	
	width:100%;	
}

.Titulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: CadetBlue;
	height: 20px;
	font-size: 20px;
	width:100%;
}

.EtiquetaEditable
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Black;
	height: 18px;
	font-size: 10px;
	
	
}							
			
						

.bodyMenu {
	width:160px;
	height:20px;
	text-align: left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding-left: 3px;
	margin: 2px;

}

.subMenuLink{
	margin: 0px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color:white;	
}


.subMenuLinkOculto{
	margin: -10px;
	height:0px;
	font-size: 0px;
	
}
.subMenuLinkOculto2{
	margin: -21.5px;
	height:0px;
	font-size: 0px;
}
.subMenuLinkOculto3{
	margin: -28px;
	height:0px;
	font-size: 0px;
}
.subMenuLinkOculto3{
	margin: -35px;
	height:0px;
	font-size: 0px;
}

.subMenuLink a:link, .subMenuLink a:visited{
	font-size: 11px;
	color: #FFFFFF;
	width:150px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	display: block;
	background-color: #2169AF;
}
.subMenuLink a:hover {
	color: #FFFFFF;
	font-size: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	display: block;
	background-color: #A3C9E4;
}							

#pagina{
 height : 230px;
 width : 200px;
 overflow : auto;
}

.invisible
{
	visibility:hidden;
	height:0px;
	font-size:0;
}	

.loading
{

	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#000099;
	text-align:center;
	cursor:wait;
	z-index:0;
	background-color:Transparent;
	position:absolute;
	height:100%;
	width:100%;
}		

.menuItem1
{
	background-image:url(imagenes/xp_min.jpg);
	background-position:right top;
	background-repeat: no-repeat;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-align:left;
	width:100%;
	cursor:hand;
	height:14px;
	vertical-align:text-top;
	margin:0;
}

.menuItem2
{
	background-image:url(imagenes/xp_max.jpg);
	background-position:right top;
	background-repeat: no-repeat;
	/*padding:0 0; */
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-align:left;
	width:100%;
	cursor:hand;
	height:14px;
	vertical-align:text-top;
	margin:0;
}

.menuItemServicioCliente
{
	background-image:url(imagenes/xp_max.jpg);
	background-position:right top;
	background-repeat: no-repeat;
	height:14px;
	margin:0;
	padding:0 0; 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-align:left;
	width:100%;
	cursor:hand;
	height:20px;
	vertical-align:text-top;
	visibility:hidden;
}

.menuServCliente
{
	margin:-5px;
	padding:-5px;
	width:180px;
	visibility:hidden;
	position:absolute;
}

.menu
{
	margin:0px;
	padding:0;
	width:100%;
	visibility:visible;
	position:relative;
}
.menu ul
{
	margin:0px;
	margin-left:0;
	padding:0;
	width:180px;
	padding:0px;
	padding-left:0;
	margin-left:0px;
	border-style:none;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
	border:0;
	left:0;
	list-style-type:none;  
	clear:left;
}

.menu li /*Elemento padre*/
{
	margin:0;
	margin-bottom:0;
	padding:0;
	list-style:none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align:left;
	width:180px;
	cursor:hand;
	border:0;
	vertical-align:text-bottom;
	font-weight:bold;
}

.menu li:hover /*Elemento padre*/
{
	color:Silver;
	cursor:hand;
}

.menu li li {
	margin:0;
	padding:0; 
	list-style:none;
	background-image:none;
	
	display:table-footer-group;
	float:left;
	font-size:11px;
	position:static;
	vertical-align:middle;
	border:0;
	margin-bottom:0;
	border-bottom:0px solid#ffffff;
	font-weight:normal;
	height:2px;
}
.menu li li a {
	
	width:100%;
	padding:0px 0;
	text-decoration:none;
	text-align:left;
	font-size:11px;
	color:White;
	background-color:#2169af;
	list-style:none;
	border:0;
}

.menu li li a:hover {
	color:#2169af;
	background-color:#ccffff;
	border:0;
}

.menuPrincipalVer
{
	background-color:Transparent;
	color:White;
	text-align:left;
	width:95%;
	font-weight:bold;
	font-size:12px;
}
.menuPrincipalSalir
{
	background-color:Transparent;
	color:White;
	text-align:right;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
.gridblanco {
	color:Black;
	background-color:White;
	border:1px;
	height:15px;
}
.gridazul {
	color:Black;
	background-color:#CEE3F6;
	border:0px;
}

.SeccionAlignLeft
{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #122F3D;
	border-right-color: #122F3D;
	border-bottom-color: #122F3D;
	border-left-color: #122F3D;
	
}

.tableData{
	/*width: 400px;*/
	color: White;
	font-family: Arial, sans-serif;
	font-size: 17px;
	background-repeat:no-repeat;
	border: 0px solid #122F3D;
	/*background-color: #5a9ecf;*/
	background-color: Black;
	/*FONT-WEIGHT: bold;*/

}
.tableData2{
	width: 100%;
	color: White;
	font-family: Arial, sans-serif;
	font-size: 17px;
	/*background-repeat:no-repeat;*/
	/*border: 0px solid #122F3D;*/
	background-color: #5a9ecf;
	FONT-WEIGHT: bold;
	

}
.tablaEncabezado
{
	color:White;
	background-color: #5a9ecf;
	FONT-WEIGHT: bold;	
}

.logo{
	height: 49px;
	background-image: url("../imagenes/logo_aforecoppel.png");
	background-repeat: no-repeat;
}

#tablaH {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    width: 100%; 
    text-align: left;    
    border-collapse: collapse; }

#tablaH th 
{     
	font-size: 13px;     
	font-weight: normal;
	width:90px;   
	padding: 8px;     
	background: #BFDBFF; /*#b9c9fe;*/
    border-bottom: 1px solid #fff; 
    color: #039; 
}

#tablaH td 
{    
	padding: 8px;     
	background: #F7F7F7;
	width:auto; 
	border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

#tablaH tr:hover td 
{ 
	background: #E6F1FF; 
	color: #339; 
}

#contenedorPrincipal {
  padding: 5px;
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow:0px 0px 15px gray;
  -moz-box-shadow:0px 0px 15px gray;
  overflow: hidden;
}
#areabotones{
	margin: 30px;
}
.Espera{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	background: url('../../imagenes/loading.gif') no-repeat;
	margin-bottom: 10px;
	margin-left: 10px;
}
#bloquea{
	align:center;
	padding: 8px;
	background: white;
	border-radius: 12px; 
}
#Obligatorios{margin-bottom: 25px;}