@media (min-width: 980px) {
	 .hidden-desktop {
        display: none !important;
    }
	
	.show-desktop {
        display: block !important;
    }
	
	.hidden-phone {
        display: block !important;
    }

}

@media (min-width: 768px) and (max-width: 979px) {
	
	.show-desktop {
        display: none !important;
    }
	 .hidden-desktop {
        display: block !important;
    }
	
	 .hidden-phone {
        display: block !important;
    }

}

@media (max-width: 768px) {
	
	.show-desktop {
        display: none !important;
    }
	
	.hidden-desktop {
        display: block !important;
    }
	
	.hidden-phone {
        display: block !important;
    }

}

@media (max-width: 480px) {
	
	.show-desktop {
        display: none !important;
    }
	
    .hidden-phone {
        display: none !important;
    }

	.hidden-desktop {
        display: block !important;
    }

}

@media (max-width:320px) {
	
	.show-desktop {
        display: none !important;
    }
	
    .hidden-phone {
        display: none !important;
    }

	.hidden-desktop {
        display: block !important;
    }

}


/*......................................................
	MOBILE LAYOUT
........................................................*/
@media ( max-width: 585px ) {
	
	.show-desktop {
        display: none !important;
    }
	
	.hidden-desktop {
        display: block !important;
    }
	.hidden-phone {
        display: block !important;
    }
	
    
    
}

